.ir_Card{
  background-color: aliceblue;
  position: relative; /*para poder poner la imag, son los limites de donde se pondra poner la imagen de portada*/
  /*overflow: hidden; /*es para poner scrollbar*/
  padding: 20em 1.5em 1.5em; /*324px 24px 24px; o sea 16px - 1em*/
}

.ir_Card::before{ /*es un pseudo elemento para la imagen*/
  content: '';
  background-color: rgba(0,0,0,1);
  background-image: url('../images/logo2.jpg'); /*imagen */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute; /*para poner la foto en una posicion absoluta dentro del area relativa*/
  top: 0; /*posicion inicial de la img*/
  left: 0;
  right: 0;
  height: 19em; /* 300px, es donde ajustamos el tamaño de la img*/
}

.ir_Card-overview{
margin-bottom: 0.5em; /*8px*/
}

.ir_Card-overview-general{
  margin-bottom: 1.5em; /*24px*/
}

.ir_Card-overview-general-name{
  font-size: 1.5rem; /*24px -> 1*/
  display: block;
  margin-bottom: 0.333em; /*8px *1 / 24*/
}


.ir_Card-overview-general-job{
font-size: 1.5rem; /*24px*/
display: block;
}

.ir_Card-overview-general a{
  color: rgb(78, 243, 216);
  }

.ir_Card-overview-contact-location span{
  font-size: 0.75rem; /*12px*/
}

.ir_Card-overview-contact-location{
  display: inline-block;
}


@media screen and (min-width: 576px){   /*To mobile device*/
  body{ /*para poner todo en el centro*/
    min-height: 100vh; /*poner en el centro de la pantalla*/
    display: flex;      /*ordenar los elementos hijos respecto al padre*/
    align-items: center; /*alinear los hijos al centro*/
    justify-content: center; /*para centrar el content*/
  }

  .ir_Card{
    width: 80%; /*varia el tamaño del card*/
    box-shadow: -0.1875em 0.1875‬em 0.625‬em 0.75em rgba(255,255,255,1); /*-3px 3px 10px 12px rgba(255,255,255,1);*/
  }

  .ir_Card-overview-contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px){ /*To tablet device*/
.ir_Card{
  padding-top: 1.5em;/*24px;*/
  padding-left: 21.5em; /*344px;*/
  box-shadow: none;
}

.ir_Card::before{
  height: 100%;
  width: 20em;/*320px;*/
  background-image: url('../images/logo1.jpg');
}

}

@media screen and (min-width: 992px){ /*To desktop */
.ir_Card{
max-width: 50em; /*800px;*/
padding-left: 23em; /*368px;*/
}

.ir_Card::before{
left: 1.5em; /*24px;*/
top: -1.5em;/*-24px;*/
bottom: -1.5em; /*-24px;*/
height: auto;
}

}
