*{
  box-sizing: border-box; /*todos los anchos y altos que definan seran apartir del borde*/
}

body { 
  background-color: rgb(95, 0, 71);
  color: #707573;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem ; /*16px es el valor por default, cm base*/
  line-height: normal;
  }
  
  h1,
  h3,
  h4,
  h5,
  h6{
    color: #3370bc;
    font-family: 'Baloo Thambi', cursive;
    font-weight: bold;
  }
  
  a { 
    color: inherit;
    text-decoration: none;
  }
  
  strong{
    font-weight: bold; 
  }

  /* Extra small <576px (default size) to mobile*/
  /*Es un media query para que nuestra app se adapte a la resolucion de la pantalla*/

  @media screen and (min-width: 576px){
    body{
    background-color: rgb(23, 235, 182);
    }
  }
  
 
  